# Drizzle
DATABASE_URL=file:local.db

# CLOUDFLARE_IS_PREVIEW=true
CLOUDFLARE_ACCOUNT_ID=""
CLOUDFLARE_D1_DATABASE_ID=""
CLOUDFLARE_D1_PREVIEW_DATABASE_ID=""
CLOUDFLARE_D1_TOKEN=""

# App bootstrap
IDP_DEFAULT_TENANT_NAME="Default Tenant"
IDP_BOOTSTRAP_ADMIN_EMAIL=""
IDP_BOOTSTRAP_ADMIN_PASSWORD=""
IDP_BOOTSTRAP_ADMIN_NAME="관리자"
